<a href="https://colab.research.google.com/github/CodeHunterOfficial/DataBase/blob/main/%D0%9B%D0%B0%D0%B151.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Создание соединения с базой данных
conn = sqlite3.connect('university.db')
c = conn.cursor()

# Создание таблицы "Студенты"
c.execute("""CREATE TABLE Students (
             id INTEGER PRIMARY KEY,
             name TEXT,
             age INTEGER,
             email TEXT,
             course INTEGER
           )""")

# Создание таблицы "Преподаватели"
c.execute("""CREATE TABLE Professors (
             id INTEGER PRIMARY KEY,
             name TEXT,
             department TEXT,
             subject TEXT
           )""")

# Создание таблицы "Курсы"
c.execute("""CREATE TABLE Courses (
             id INTEGER PRIMARY KEY,
             name TEXT,
             credits INTEGER,
             professor_id INTEGER,
             FOREIGN KEY (professor_id) REFERENCES Professors(id)
           )""")

# Создание таблицы "Оценки"
c.execute("""CREATE TABLE Grades (
             id INTEGER PRIMARY KEY,
             student_id INTEGER,
             course_id INTEGER,
             grade REAL,
             FOREIGN KEY (student_id) REFERENCES Students(id),
             FOREIGN KEY (course_id) REFERENCES Courses(id)
           )""")

# Создание таблицы "Кампусы"
c.execute("""CREATE TABLE Campuses (
             id INTEGER PRIMARY KEY,
             name TEXT,
             location TEXT
           )""")

# Создание таблицы "Общежития"
c.execute("""CREATE TABLE Dormitories (
             id INTEGER PRIMARY KEY,
             name TEXT,
             capacity INTEGER,
             campus_id INTEGER,
             FOREIGN KEY (campus_id) REFERENCES Campuses(id)
           )""")

# Создание таблицы "Зачисления"
c.execute("""CREATE TABLE Enrollments (
             id INTEGER PRIMARY KEY,
             student_id INTEGER,
             course_id INTEGER,
             semester TEXT,
             FOREIGN KEY (student_id) REFERENCES Students(id),
             FOREIGN KEY (course_id) REFERENCES Courses(id)
           )""")

# Сохранение изменений и закрытие соединения
conn.commit()
conn.close()

В этом коде мы создали следующие таблицы:

* Students: Содержит информацию о студентах.
* Professors: Содержит информацию о преподавателях.
* Courses: Содержит информацию о курсах, включая связь с преподавателями.
* Grades: Содержит информацию об оценках студентов, включая связь со студентами и курсами.
* Campuses: Содержит информацию о кампусах.
* Dormitories: Содержит информацию о общежитиях, включая связь с кампусами.
* Enrollments: Содержит информацию о зачислении студентов на курсы, включая связь со студентами и курсами.

In [2]:
import sqlite3

# Создание соединения с базой данных
conn = sqlite3.connect('university.db')
c = conn.cursor()

# Добавление записей в таблицу "Студенты"
c.execute("INSERT INTO Students (name, age, email, course) VALUES (?, ?, ?, ?)", ('Иван Иванов', 20, 'ivan@example.com', 1))
c.execute("INSERT INTO Students (name, age, email, course) VALUES (?, ?, ?, ?)", ('Анна Петрова', 21, 'anna@example.com', 2))
c.execute("INSERT INTO Students (name, age, email, course) VALUES (?, ?, ?, ?)", ('Максим Сидоров', 22, 'maxim@example.com', 3))
c.execute("INSERT INTO Students (name, age, email, course) VALUES (?, ?, ?, ?)", ('Елена Ковалева', 19, 'elena@example.com', 1))
c.execute("INSERT INTO Students (name, age, email, course) VALUES (?, ?, ?, ?)", ('Сергей Никитин', 21, 'sergey@example.com', 2))

# Добавление записей в таблицу "Преподаватели"
c.execute("INSERT INTO Professors (name, department, subject) VALUES (?, ?, ?)", ('Михаил Петров', 'Информатика', 'Программирование'))
c.execute("INSERT INTO Professors (name, department, subject) VALUES (?, ?, ?)", ('Ольга Сидорова', 'Математика', 'Математический анализ'))
c.execute("INSERT INTO Professors (name, department, subject) VALUES (?, ?, ?)", ('Екатерина Иванова', 'Физика', 'Механика'))

# Добавление записей в таблицу "Курсы"
c.execute("INSERT INTO Courses (name, credits, professor_id) VALUES (?, ?, ?)", ('Введение в программирование', 3, 1))
c.execute("INSERT INTO Courses (name, credits, professor_id) VALUES (?, ?, ?)", ('Математический анализ I', 4, 2))
c.execute("INSERT INTO Courses (name, credits, professor_id) VALUES (?, ?, ?)", ('Классическая механика', 4, 3))

# Добавление записей в таблицу "Оценки"
c.execute("INSERT INTO Grades (student_id, course_id, grade) VALUES (?, ?, ?)", (1, 1, 4.0))
c.execute("INSERT INTO Grades (student_id, course_id, grade) VALUES (?, ?, ?)", (1, 2, 3.5))
c.execute("INSERT INTO Grades (student_id, course_id, grade) VALUES (?, ?, ?)", (2, 1, 3.0))
c.execute("INSERT INTO Grades (student_id, course_id, grade) VALUES (?, ?, ?)", (2, 3, 4.0))
c.execute("INSERT INTO Grades (student_id, course_id, grade) VALUES (?, ?, ?)", (3, 2, 3.7))

# Добавление записей в таблицу "Кампусы"
c.execute("INSERT INTO Campuses (name, location) VALUES (?, ?)", ('Главный кампус', 'Центр города'))
c.execute("INSERT INTO Campuses (name, location) VALUES (?, ?)", ('Северный кампус', 'Пригород'))

# Добавление записей в таблицу "Общежития"
c.execute("INSERT INTO Dormitories (name, capacity, campus_id) VALUES (?, ?, ?)", ('Ивовый зал', 200, 1))
c.execute("INSERT INTO Dormitories (name, capacity, campus_id) VALUES (?, ?, ?)", ('Дубовый дом', 150, 1))
c.execute("INSERT INTO Dormitories (name, capacity, campus_id) VALUES (?, ?, ?)", ('Кленовое общежитие', 180, 2))

# Добавление записей в таблицу "Зачисления"
c.execute("INSERT INTO Enrollments (student_id, course_id, semester) VALUES (?, ?, ?)", (1, 1, 'Осень 2022'))
c.execute("INSERT INTO Enrollments (student_id, course_id, semester) VALUES (?, ?, ?)", (1, 2, 'Весна 2023'))
c.execute("INSERT INTO Enrollments (student_id, course_id, semester) VALUES (?, ?, ?)", (2, 1, 'Осень 2022'))
c.execute("INSERT INTO Enrollments (student_id, course_id, semester) VALUES (?, ?, ?)", (2, 3, 'Весна 2023'))
c.execute("INSERT INTO Enrollments (student_id, course_id, semester) VALUES (?, ?, ?)", (3, 2, 'Осень 2022'))

# Сохранение изменений и закрытие соединения
conn.commit()
conn.close()

В этом коде мы добавили записи:

* Студенты: 5 записей
* Преподаватели: 3 записи
* Курсы: 3 записи
* Оценки: 5 записей
* Кампусы: 2 записи
* Общежития: 3 записи
* Зачисления: 5 записей

In [9]:
import sqlite3

# 1. Выполнение команды SHOW DATABASES
conn = sqlite3.connect('university.db')
c = conn.cursor()

c.execute("PRAGMA database_list;")
print(c.fetchall())

# 2. Выбор базы данных "university.db" для работы
#use DB_Name

# 3. Просмотр списка таблиц в базе данных "university.db"
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

# 4. Получение описания таблицы "Students"
# a) Используя команду PRAGMA table_info(Students)
c.execute("PRAGMA table_info(Students);")
print(c.fetchall())

# b) Используя команду PRAGMA table_info()
c.execute("PRAGMA table_info(Students);")
table_info = c.fetchall()
print("Структура таблицы Students:")
for column in table_info:
    print(f"Название столбца: {column[1]}, Тип данных: {column[2]}")

# Разница между командами:
# PRAGMA table_info(table_name) выводит подробное описание столбцов таблицы,
# вместо SHOW CREATE TABLE table_name, которая не поддерживается SQLite.

# 5. Создание тестовой базы данных "demo_bd" и проверка ее появления в списке доступных БД
# Создание базы данных
conn = sqlite3.connect('demo_bd.db')
c = conn.cursor()
c.execute("CREATE TABLE IF NOT EXISTS demo_bd (id INTEGER PRIMARY KEY, name TEXT)")
conn.commit()

# Подключение к базе данных
conn = sqlite3.connect('demo_bd.db')
c = conn.cursor()

c.execute("PRAGMA database_list;")
print(c.fetchall())

# 6. Создание таблицы "student" в базе данных "demo_bd" и проверка ее появления
c.execute("""CREATE TABLE IF NOT EXISTS students (
           id INTEGER PRIMARY KEY,
           name TEXT,
           age INTEGER,
           email TEXT
           )""")

c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

# 7. Внесение изменений в таблицу "student"
# Удаление столбца "age"
c.execute("ALTER TABLE students DROP COLUMN age;")

# Восстановление столбца "age"
c.execute("ALTER TABLE students ADD COLUMN age INTEGER;")

# Изменение названия столбца "name" на "full_name"
c.execute("ALTER TABLE students RENAME COLUMN name TO full_name;")

# Изменение типа данных столбца "email" с TEXT на VARCHAR(50)
#c.execute("ALTER TABLE students MODIFY COLUMN email VARCHAR(50)")


# Проверка структуры таблицы "student" после внесенных изменений
c.execute("PRAGMA table_info(students);")
print(c.fetchall())

# Закрытие соединения с базой данных
conn.commit()
conn.close()

[(0, 'main', '/content/university.db')]
[('Students',), ('Professors',), ('Courses',), ('Grades',), ('Campuses',), ('Dormitories',), ('Enrollments',)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'age', 'INTEGER', 0, None, 0), (3, 'email', 'TEXT', 0, None, 0), (4, 'course', 'INTEGER', 0, None, 0)]
Структура таблицы Students:
Название столбца: id, Тип данных: INTEGER
Название столбца: name, Тип данных: TEXT
Название столбца: age, Тип данных: INTEGER
Название столбца: email, Тип данных: TEXT
Название столбца: course, Тип данных: INTEGER
[(0, 'main', '/content/demo_bd.db')]
[('demo_bd',), ('students',)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'full_name', 'TEXT', 0, None, 0), (2, 'email', 'TEXT', 0, None, 0), (3, 'age', 'INTEGER', 0, None, 0)]